
main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
}

#container{
  display: flex;
  justify-content: space-around;
  
}

#accordion-container{
  margin: 5px;
  padding: 5px;
  justify-content: space-around;  
  width: 300px ;
}

#accordion-container.active #accordion-body{
display: block;
}

#accordion-body{
  margin-top: 15px;
  display: none;
}

#accordion-header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color .3s;
}
#accordion-header:hover {
  background: #aaa;
}